/* * {
  box-sizing: border-box;
} */
body {
  font-family: sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
}

/* side bar hidden */
.sidebar {
  display: none;
}
input {
  display: none;
}
label {
  display: none;
}

/* First Div */
.navbar {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.navbar div {
  justify-content: center;
  align-items: center;
}
.navbar div h1 {
  padding: 10px;
  margin: 0;
}

.navlist {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.navlist li {
  display: flex;
  text-decoration: none;
}
.navlist li a {
  display: flex;
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  font-weight: 700;
  font-size: larger;
}
.navlist li a:hover {
  border-bottom: 2px solid navy;
}

/* Second Div */
section {
  position: sticky;
}
.home {
  position: relative;
}
.slideshow-img {
  position: absolute;
  object-fit: cover;
  border: 2px solid navy;
  /* z-index: -1; */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

/* .slideshow-img:first-child {
  display: block;
} */
/* Third Div */

.aboutus {
  display: grid;
  position: relative;
  top: 600px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background: rgb(50, 50, 68);
  color: white;
}

blockquote {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

/* Fourth Div */

.services {
  font-family: sans-serif;
  width: 100%;
  position: relative;
  top: 600px;
  height: 300px;
  padding-top: 20px;
  background-color: rgb(31, 31, 167);
  color: white;
}

.services h2 {
  padding-left: 20px;
}

.servicelist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
}

.servicelist li {
  display: flex;
  font-family: sans-serif;
  position: relative;
  text-decoration: none;
  padding: 20px;
  justify-content: center;
  margin: 10px;
  width: 80%;
  background-color: rgb(50, 50, 68);
  border-radius: 2px;
}

/* fifth Div */

.contactus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(50, 50, 68);
  position: relative;
  top: 600px;
  color: white;
  width: 100%;
}

.logo img {
  width: 250px;
  height: 200px;
  margin: 20px;
  border: 1px solid rgb(31, 31, 167);
  border-radius: 2em;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.address h3 {
  font-family: sans-serif;
}
.address ul {
  padding: 0;
}
.address ul h4 {
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  left: 0;
}
.address ul li {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: none;
}
.signup {
  font-family: sans-serif;
  padding-top: 20px;
}

.subcribe {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: none;
  color: white;
  border: 2px solid rgb(13, 94, 24);
  border-radius: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* Sixth Div */

footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 600px;
  align-items: center;
  background-color: black;
  color: rgb(163, 162, 162);
  height: 30px;
}
footer p {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body {
    font-family: sans-serif;
    background: rgb(50, 50, 68);
    padding: 0;
    margin: 0;
  }

  /* side bar hidden */
  label {
    display: block;
  }
  input {
    display: block;
  }
  .navbar {
    display: none;
  }

  .sidebar {
    display: block;
    position: fixed;
    left: -100px;
    width: 100px;
    margin: 0;
    height: 50%;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .sidebar header {
    display: block;
    font-size: 11px;
    color: rgb(31, 31, 167);
    text-align: center;
    line-height: 35px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    user-select: none;
  }
  .sidebar .navlist {
    display: block;
    margin: 0;
    padding: 0;
  }
  .sidebar .navlist a {
    display: block;
    list-style: none;
    text-decoration: none;
    width: 100%;
    line-height: 30px;
    font-size: 10px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
    transition: 0.4s;
  }
  .navlist li:hover a {
    padding-left: 25px;
  }

  #check {
    display: none;
  }

  label #btn,
  label #cancel {
    position: fixed;
    cursor: pointer;
    background: black;
    border-radius: 1px;
    z-index: 1000;
  }
  label #btn {
    left: 20px;
    top: 10px;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    left: -100px;
    top: 10px;
    font-size: 15px;
    color: #0a5275;
    padding: 2px 4px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 100px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 100px;
  }
  #check:checked ~ .home {
    margin-left: 100px;
  }
  #check:checked ~ .aboutus {
    margin-left: 100px;
  }
  #check:checked ~ .services {
    margin-left: 100px;
  }
  #check:checked ~ .contactus {
    margin-left: 100px;
  }

  /* First Div */

  /* Second Div */

  .home {
    position: relative;
  }
  .slideshow-img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px solid navy;
    /* z-index: -1; */
    /* display: none; */
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  /* .slideshow-img:first-child {
    display: block;
  } */
  /* Third Div */

  .aboutus {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: row;
    background: rgb(50, 50, 68);
    color: white;
  }

  .aboutimg {
    display: none;
  }

  blockquote {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -300px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Fourth Div */

  .services {
    font-family: sans-serif;
    top: 300px;
    width: 100%;
    height: 300px;
    background-color: rgb(31, 31, 167);
    color: white;
  }

  .services h2 {
    padding-left: 10px;
    margin: 0;
  }

  .servicelist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-decoration: none;
    margin: 0;
  }

  .servicelist li {
    display: flex;
    font-family: sans-serif;
    position: relative;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    width: 80%;
    background-color: rgb(50, 50, 68);
  }

  /* fifth Div */

  .contactus {
    display: block;
    position: relative;
    flex-direction: row;
    background-color: rgb(50, 50, 68);
    height: 400px;
    font-family: sans-serif;
    top: 300px;
    width: 100%;
    color: white;
  }

  .logo img {
    display: none;
  }

  .address {
    display: grid;
    padding-left: 0;
    margin-left: 20px;
    padding-top: 20px;
    grid-template-columns: 1fr;
    background: rgb(50, 50, 68);
    color: #ffffff;
  }

  .address h3 {
    font-family: sans-serif;
  }
  .address ul {
    padding: 0;
  }
  .address ul h4 {
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    left: 0;
  }
  .address ul li {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
  }
  .signup {
    font-family: sans-serif;
    padding-top: 20px;
    margin-left: 20px;
  }

  .subcribe {
    margin-left: 0;
    padding-left: 10px;
    background-color: none;
    color: white;
    border: 2px solid rgb(13, 94, 24);
    border-radius: 1em;
    cursor: pointer;
  }

  /* Sixth Div */

  footer {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 300;
    align-items: center;
    background-color: black;
    color: rgb(163, 162, 162);
    height: 30px;
  }
  footer p {
    margin: 0;
  }
}
